.latest-section {
    margin: 70px 50px;
}
.latest-tittle {
    font-size: 17px;
    font-style: italic;
}
.carousel {
    margin-top: 50px;
    --items: 6;
    --carousel-duration: 40s;
    --carousel-width: min(80vw, 1200px);
    --carousel-item-width: 280px;
    --carousel-item-height: 450px;
    --carousel-item-gap: 2rem;
    --clr-cta: rgb(0, 132, 209);
  
    position: relative;
    width: var(--carousel-width);
    height: var(--carousel-item-height);
    overflow: clip;
  }
  
  @media (width > 600px) {
    .carousel {
      --carousel-duration: 30s;
    }
  }
  
  .carousel[mask] {
    mask-image: linear-gradient(to right, transparent, black 10% 90%, transparent);
  }
  
  .carousel:hover > article {
    animation-play-state: paused;
  }
  
  .carousel > article {
    position: absolute;
    top: 0;
    left: calc(100% + var(--carousel-item-gap));
    width: var(--carousel-item-width);
    height: var(--carousel-item-height);
    display: grid;
    grid-template-rows: 200px auto 1fr auto;
    gap: 0.25rem;
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding-block-end: 1rem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.05);
    color: white;
    will-change: transform;
    animation-name: marquee;
    animation-duration: var(--carousel-duration);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  .carousel > article:nth-child(1) {
    animation-delay: calc(var(--carousel-duration) / var(--items) * 0 * -1);
  }
  .carousel > article:nth-child(2) {
    animation-delay: calc(var(--carousel-duration) / var(--items) * 1 * -1);
  }
  .carousel > article:nth-child(3) {
    animation-delay: calc(var(--carousel-duration) / var(--items) * 2 * -1);
  }
  .carousel > article:nth-child(4) {
    animation-delay: calc(var(--carousel-duration) / var(--items) * 3 * -1);
  }
  .carousel > article:nth-child(5) {
    animation-delay: calc(var(--carousel-duration) / var(--items) * 4 * -1);
  }
  .carousel > article:nth-child(6) {
    animation-delay: calc(var(--carousel-duration) / var(--items) * 5 * -1);
  }
  
  .carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .carousel > article > *:not(img) {
    padding: 0 1rem;
  }
  
  .carousel > article > div {
    grid-row: span 2;
    display: grid;
    font-size: 0.8rem;
  }
  
  .carousel > article h2 {
    font-size: 1.2rem;
    font-weight: 300;
    padding-block: 0.75rem 0.25rem;
    margin: 0;
  }
  
  .carousel > article p {
    margin: 0;
  }
  
  .carousel > article a {
    text-decoration: none;
    text-transform: lowercase;
    border: 1px solid var(--clr-cta);
    color: var(--clr-cta);
    border-radius: 3px;
    padding: 0.25rem 0.5rem;
    transition: 150ms ease-in-out;
  }
  
  .carousel > article a:hover,
  .carousel > article a:focus-visible {
    background-color: var(--clr-cta);
    color: white;
    outline: none;
  }
  
  @keyframes marquee {
    100% {
      transform: translateX(
        calc(
          (var(--items) * (var(--carousel-item-width) + var(--carousel-item-gap))) *
            -1
        )
      );
    }
  }
@media (max-width:768px) {
    .latest-section {
        margin: 40px 23px;
    }
}