.about-secton {
    margin: 70px 50px;
}
.about-secton h3 {
    text-decoration: underline;
}
.about-secton p {
    letter-spacing: 3px;
    margin-top: 10px;
}


@media (max-width:768px) {
    .about-secton {
        margin: 40px 23px;
    }
    .about-secton p {
        letter-spacing: 1px;
    }
}