/* Slider container */
.slider-container {
    position: relative;
    width: 100%;
    height: 500px; /* adjust height as needed */
    overflow: hidden;
    perspective: 1000px;
    backface-visibility: hidden;
  }
  
  /* Slider images */
  .slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    will-change: opacity, transform;
    /* Darken the image */
    filter: brightness(60%) contrast(105%) saturate(102%);
    transition: opacity 1.8s ease-in-out, transform 1.8s ease-in-out, filter 1.2s ease-in-out;
  }
  
  .slider-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* adjust opacity */
    pointer-events: none;
  }
  