/* Slider container */
.slider-container {
    position: relative;
    width: 100%;
    height: 500px; /* adjust height as needed */
    overflow: hidden;
    perspective: 1000px;
    backface-visibility: hidden;
  }
  
  /* Slider images */
  .slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    will-change: opacity, transform;
    /* Darken the image */
    filter: brightness(60%) contrast(105%) saturate(102%);
    transition: opacity 1.8s ease-in-out, transform 1.8s ease-in-out, filter 1.2s ease-in-out;
  }
  
  .slider-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* adjust opacity */
    pointer-events: none;
  }
.header-section {
    position: absolute;
    top: 24%;
    left: 2%;
}  
.header-section h1 {
    /* font-family: 'Bebas Neue', sans-serif; */
    font-family: 'sans-serif';
    font-size: 70px;
    font-weight: 700;
    -webkit-text-fill-color: whitesmoke;
    -webkit-text-stroke-width: 1px;
    color: black;
}
.header-section h1 span {
    /* font-family: 'Bebas Neue', sans-serif; */
    font-family: 'sans-serif';
    font-size: 70px;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1px;
    color: #ebd8d8;
}
.header-section h4 {
    letter-spacing: 2px;
    font-family: 'sans-serif';
}
.header-contact {
    margin-top: 20px;
    
}
.header-contact .contact-item {
    border: 2px solid #fff;
    border-radius: 5px;
    /* width: 80px; */
    padding: 7px 10px;
}
.header-contact .find-properties {
    padding: 10px;
    width: 400px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid white;
    color: wheat;
}



@media (max-width:768px) {
    .header-section {
        left: 4%;
    }
    .header-section h1 {
        font-size: 50px;
    }
    .header-section h1 span {
        font-size: 50px;
    }
    .header-contact .find-properties {
        width: 300px;
    }
}
@media (max-width:576px) {
    .header-section {
        width: 90%;
        top: 34%;
        left: 7%;
    }
    .header-section h1 {
        font-size: 25px;
    }
    .header-section h1 span {
        font-size: 25px;
    }
    .header-section h4 {
        font-size: 12px;
    }
    .header-contact .find-properties {
        width: 200px;
    }
}