.footer-section {
    text-align: center;
    margin-top: 80px;
}
.footer-section h1 {
    font-style: italic;
    font-size: 25px;
    line-height: 5px;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1px;
    color: #ebd8d8;
    font-family: "sans-serif";
}
.footer-section p {
    font-size: 20px;
    font-family: 'MeaCulpa';
}
.footer-section h3 {
    font-size: 17px;
    margin-top: 20px;
    font-family: 'sans-serif';
}
.footer-menu {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.footer-menu .each-menu {
    margin: 10px;
    margin-bottom: 50px;
    font-weight: 700;
}
.policy-section {
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
}
.policy-section .each-item {
    margin-right: 15px;
    margin-top: 8px;
    font-size: 11px;
}