.footer-section {
    text-align: center;
    margin-top: 80px;
}
.footer-section h1 {
    font-style: italic;
    font-size: 20px;
}
.footer-section p {
    font-size: 16px;
}
.footer-section h3 {
    font-size: 17px;
    margin-top: 20px;
    font-family: 'sans-serif';
}
.footer-menu {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.footer-menu .each-menu {
    margin: 10px;
    margin-bottom: 50px;
    font-weight: 700;
}
.policy-section {
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
}
.policy-section .each-item {
    margin-right: 15px;
    margin-top: 8px;
    font-size: 11px;
}